.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto; /*скрол что бы можно было добраться до кнопки если телефон находится в горизонтальном положении*/
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
