.clouds {
  position: relative;
  width: 450px;
  height: 450px;
  justify-self: center;
  background-image: url(../../images/plane.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
