.menu__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #000;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.menu__link:hover {
  opacity: .8;
}

@media (min-width: 1600px) {
  .menu__link {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .menu__link {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .menu__link {
    font-size: 12px;
  }
}
