.travel__paragraph {
  width: 68%;
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  color: #000;
  font-size: 15px;
}

.travel__paragraph:last-of-type {
  padding: 0;
}

@media (min-width: 1600px) {
  .travel__paragraph {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: 2000px) {
  .travel__paragraph {
    font-size: 24px;
  }
}

@media (max-width: 1100px) {
  .travel__paragraph {
    width: 75%;
    font-size: 14px;
    line-height: 1.3;
    padding: 0 0 15px 0;
  }
}

@media (max-width: 900px) {
  .travel__paragraph {
    width: 85%;
    padding: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  .travel__paragraph {
    width: 90%;
    line-height: 1.0;
  }
}

@media (max-width: 650px) {
  .travel__paragraph {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .travel__paragraph {
    width: 90%;
  }
}
