.travel__paragraph {
  width: 68%;
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  color: #000;
  font-size: 15px;
}

.travel__paragraph:last-of-type {
  padding: 0;
}
