.table {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
}

@media (max-width: 1100px) {
  .table {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }
}

@media (max-width: 650px) {
  .table {
    grid-template-columns: 1fr;
  }
}
