.form-inner__element {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Conamore', 'Arial', sans-serif;
}

.form-inner__element:focus {
  outline: none;
}
