@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


/*стили для всей страницы*/
@import url(../blocks/page/page.css);
/*стили для всей страницы*/

/*стили для header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__button/menu__button.css);
/*стили для header*/

/*стили для content*/
@import url(../blocks/content/content.css);
@import url(../blocks/content/__intro/content__intro.css);
@import url(../blocks/content/__travels/content__travels.css);
@import url(../blocks/content/__people/content__people.css);
/*стили для content*/

/*стили для intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__section-text/intro__section-text.css);
@import url(../blocks/section-text/section-text.css);
@import url(../blocks/section-text/__label/section-text__label.css);
@import url(../blocks/section-text/__title/section-text__title.css);
@import url(../blocks/intro/__image/intro__image.css);
@import url(../blocks/clouds/clouds.css);
@import url(../blocks/cloud/cloud.css);
@import url(../blocks/floating/floating.css);
@import url(../blocks/cloud/_size/cloud_size_xs.css);
@import url(../blocks/cloud/_size/cloud_size_s.css);
@import url(../blocks/cloud/_size/cloud_size_m.css);
@import url(../blocks/cloud/_size/cloud_size_l.css);
/*стили для intro*/

/*стили для travels*/
@import url(../blocks/travels/travels.css);
@import url(../blocks/travel/travel.css);
@import url(../blocks/travel/__image/travel__image.css);
@import url(../blocks/travel/__image/_start/travel__image_start.css);
@import url(../blocks/travel/__text/travel__text.css);
@import url(../blocks/travel/__title/travel__title.css);
@import url(../blocks/travel/__paragraphs/travel__paragraphs.css);
@import url(../blocks/travel/__paragraph/travel__paragraph.css);
/*стили для travels*/

/*стили для people*/
@import url(../blocks/people/people.css);
@import url(../blocks/people/__table/people__table.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
/*стили для people*/


/*стили для footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/*стили для footer*/

