@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


/*стили для всей страницы*/
@import url(../blocks/body/body.css);
/*стили для всей страницы*/

/*стили для header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__button/menu__button.css);
/*стили для header*/

/*стили для content*/
@import url(../blocks/content/content.css);
@import url(../blocks/content/__intro/content__intro.css);
/*стили для content*/

/*стили для intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/section-text/section-text.css);
@import url(../blocks/section-text/__label/section-text__label.css);
@import url(../blocks/section-text/__title/section-text__title.css);
@import url(../blocks/intro/__image/intro__image.css);
/*стили для intro*/

/*стили для footer*/
@import url(../blocks/footer/footer.css);
/*стили для footer*/






