@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


/*стили для всей страницы*/
@import url(../blocks/body/body.css);
/*стили для всей страницы*/

/*стили для header*/
@import url(../blocks/header/header.css);
/*стили для header*/

/*стили для footer*/
@import url(../blocks/footer/footer.css);
/*стили для footer*/






