@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


/*стили для всей страницы*/
@import url(../blocks/page/page.css);
/*стили для всей страницы*/

/*стили для header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__button/menu__button.css);
/*стили для header*/

/*стили для content*/
@import url(../blocks/content/content.css);
@import url(../blocks/content/__intro/content__intro.css);
@import url(../blocks/content/__travels/content__travels.css);
@import url(../blocks/content/__people/content__people.css);
/*стили для content*/

/*стили для intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__section-text/intro__section-text.css);
@import url(../blocks/section-text/section-text.css);
@import url(../blocks/section-text/__label/section-text__label.css);
@import url(../blocks/section-text/__title/section-text__title.css);
@import url(../blocks/intro/__image/intro__image.css);
/*стили для intro*/

/*стили для travels*/
@import url(../blocks/travels/travels.css);
@import url(../blocks/travel/travel.css);
@import url(../blocks/travel/__image/travel__image.css);
@import url(../blocks/travel/__text/travel__text.css);
@import url(../blocks/travel/__title/travel__title.css);
@import url(../blocks/travel/__paragraphs/travel__paragraphs.css);
@import url(../blocks/travel/__paragraph/travel__paragraph.css);
/*стили для travels*/

/*стили для people*/
@import url(../blocks/people/people.css);
@import url(../blocks/people/__table/people__table.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
/*стили для people*/


/*стили для footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/*стили для footer*/

@media (max-width: 1200px) {
  .travel__text {
    padding: 50px 0 75px 50px;
  }
}


@media (max-width: 1100px) {
  .intro__image {
    width: 400px;
    height: 400px;
  }

  .travel__text {
    padding: 40px 0 65px 40px;
}

  .travel__title {
    font-size: 28px;
  }
  .travel__paragraph {
    width: 75%;
    font-size: 14px;
    line-height: 1.3;
    padding: 0 0 15px 0;
  }
}

@media (max-width: 900px) {
  .intro__image {
    width: 350px;
    height: 350px;
  }

  .travel__paragraph {
    width: 85%;
    font-size: 12px;
    line-height: 1.1;
    padding: 0 0 10px 0;
  }

  .table {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 45px 0 65px;
  }

  .menu__item {
    margin-right: 50px;
  }

  .intro {
    padding-bottom: 90px;
  }

  .intro__image {
    width: 300px;
    height: 300px;
  }

  .section-text__label {
    font-size: 12px;
  }

  .section-text__title {
    font-size: 30px;
  }

  .travel__title {
    font-size: 18px;
  }

  .travel__paragraph {
    width: 90%;
    line-height: 1.0;
  }

  .travel__text {
    padding: 35px 0 55px 35px;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 30px 0 40px;
  }

  .menu__item {
    margin-right: 30px;
  }

  .menu__link {
    font-size: 14px;
  }

  .menu__button {
    font-size: 14px;
  }

  .intro__image {
    width: 220px;
    height: 220px;
  }

  .section-text__label {
    font-size: 10px;
  }

  .section-text__title {
    font-size: 24px;
  }

  .travel {
    grid-template-columns: 1fr;
    grid-template-rows: 320px;
  }
/*модификатор для картинки что бы переопределить ее место в гриде*/
  .travel__image_start {
    grid-row-start: 1;
  }
  .travel__title {
    padding-bottom: 20px;
  }

  .travel__text {
    padding: 20px 0 20px;
    margin: 0 auto;
    width: 90%;
  }

  .table {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 20px 0 30px;
  }

  .menu__item {
    margin-right: 10px;
  }

  .menu__link {
    font-size: 12px;
  }

  .menu__button {
    font-size: 12px;
  }

  .intro {
    padding-bottom: 50px;
    grid-template-columns: 100%;
    row-gap: 40px;
  }

  .intro__image {
    width: 320px;
    height: 320px;
  }
}

