.travel__text {
  padding: 60px 0 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 2100px) {
  .travel__text {
    padding: 120px 0 200px 120px;
  }
}

@media (max-width: 1200px) {
  .travel__text {
    padding: 50px 0 75px 50px;
  }
}

@media (max-width: 1100px) {
  .travel__text {
    padding: 40px 0 65px 40px;
  }
}

@media (max-width: 768px) {
  .travel__text {
    padding: 35px 0 55px 35px;
  }
}

@media (max-width: 650px) {
  .travel__text {
    padding: 70px 0;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .travel__text {
    padding: 40px 0;
  }
}
