.table__heading {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Conamore';
  font-size: 16px;
  line-height: 5;
  font-weight: bold;
  color: #000;
}

@media (min-width: 1600px) {
  .table__heading {
    font-size: 26px;
  }
}
